ADULT DATASET ML IMPLEMENTATION

IMPORT THE RELEVANT LIBRARIES

In [1]:
from sklearn import *

In [3]:
import numpy as np
import pandas as pd
import scipy
from scipy import  stats
import matplotlib.pyplot as plt
import seaborn as sns 
sns.set_style("whitegrid")

IMPORTING THE TRAINING DATASET

In [15]:
adult_train = pd.read_csv("C:/Users/Marthinz/Documents/Data Analysis Practice/Adult Dataset/adult_data.csv", header=None)

In [18]:
column_names =["age", "workclass", "fnlwg", "education", "education_num", "marital_status", "occupation", "relationship", "race", "sex", "capital_gain", "capital_loss", "hours_per_week", "country", "target"]

In [19]:
adult_train.columns = column_names

In [20]:
adult_train.head(5)

,age,workclass,fnlwg,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,country,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

LABEL ENCODER FOR CONVERTING STRING INPUT INTO UNIQUE INTERGERS

In [24]:
import encodings

In [30]:
label_enc = sklearn.preprocessing.LabelEncoder()

In [32]:
X_train = adult_train.iloc[:, :-1]

In [33]:
y_train = adult_train.iloc[:,-1]

In [34]:
y_train = label_enc.fit_transform(y_train)

In [35]:
print(y_train)

[0 0 0 ... 0 0 1]

IMPORT TEST DATASET

In [38]:
adult_data = pd.read_csv("C:/Users/Marthinz/Documents/Data Analysis Practice/Adult Dataset/adult_test.csv", header=None)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 2, saw 15