Datetime Module

In [ ]:
from datetime import datetime

In [ ]:
year = 2021
month = 1
day=1

In [ ]:
my_date=datetime(year,month,day)
my_date

datetime.datetime(2021, 1, 1, 0, 0)

In [ ]:
#extract any information from the datetime object
my_date.month

1

In [ ]:
my_date.isoweekday()
#monday==1,sunday==7

5

Numpy Datetime Arrays

In [ ]:
import numpy as np

In [ ]:
#create datetime array
np.array(["2020-10-20", "2021-01-20"], dtype="datetime64")

array(['2020-10-20', '2021-01-20'], dtype='datetime64[D]')

In [ ]:
#they can be changed to years
np.array(["2020-10-20", "2021-01-20"], dtype="datetime64[Y]")

array(['2020', '2021'], dtype='datetime64[Y]')

In [ ]:
#start,stop,end
np.arange("2021-01-01", "2021-01-10", dtype="datetime64[D]")

array(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
       '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
       '2021-01-09'], dtype='datetime64[D]')

**Pandas Datetime**

usually we will work with time series as a datetime index in pandas dataframes  pandas has a lot of built in functions and methods to work with time series

In [ ]:
import pandas as pd

In [ ]:
#create an index
index = pd.date_range("2020-01-01", periods=7, freq="D")

In [ ]:
index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
#if you want to create to index for a specific days, there are 2 ways to do that:
custom_index = pd.to_datetime(["2021-01-06", "2021-01-21"])
custom_index

DatetimeIndex(['2021-01-06', '2021-01-21'], dtype='datetime64[ns]', freq=None)

In [ ]:
#or alternatively we could pass a numpy array to pd.DatetimeIndex()
custom_index1 = pd.DatetimeIndex(np.array(["2021-01-06", "2021-01-19"]))
custom_index1

DatetimeIndex(['2021-01-06', '2021-01-19'], dtype='datetime64[ns]', freq=None)

Now let's explore some more of pandas Datetime function

In [ ]:
#creating a time series dataframe
#pd.Dataframe(data,index,column_name)
df = pd.DataFrame(["first day of the year", "first day of school"], custom_index, ["Event"])
df

                            Event
2021-01-06  first day of the year
2021-01-21    first day of school

In [ ]:
df.columns

Index(['Event'], dtype='object')

In [ ]:
df.index

DatetimeIndex(['2021-01-06', '2021-01-21'], dtype='datetime64[ns]', freq=None)

In [ ]:
df.index.max()

Timestamp('2021-01-21 00:00:00')

Pandas Datareader

In [ ]:
import pandas_datareader.data as web

In [ ]:
start = pd.to_datetime("2020-01-01")
end=pd.to_datetime("today")

In [ ]:
Ticker = "TSLA AAPL".split(" ")
Ticker

['TSLA', 'AAPL']

In [40]:
web.get_data_yahoo(Ticker, start,end)

/usr/local/lib/python3.7/dist-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'TSLA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/usr/local/lib/python3.7/dist-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'AAPL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

RemoteDataError: ignored

In [41]:
!gitclone https://github.com/mqtran01/python-yahoofinance

/bin/bash: gitclone: command not found